
*,
*::before,
*::after {
    box-sizing: border-box; 
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}


:root {
    
    font-size: 62.5%; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 1.6rem; 
    color: #333;
}


a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3 {
    margin-bottom: 1.5rem;
}


@media screen and (max-width: 480px) {
    
    
    .works_on_smartphone {
        
        min-height: 100vh; 
    }
    
    .works_on_smartphone main {
        flex-direction: column; 
    }

    .works_on_smartphone article,
    .works_on_smartphone aside {
        flex: auto; 
        width: 100%;
    }
}